body{
  font-family: "Cuprum";
  color: #000000;
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
}
h1{
  font-family: "Cuprum";
  color: #ffffff;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
}
h2{
  font-family: "Cuprum";
  color: #32425c;
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
}

.header-top {
  background-color: #33445a;
  min-height: 42px;
}

.header-top-logo {
  width: 220px;
  min-height: 47px;
  float: left;
  background-color: #ff5357;
}

.header-top-wraper {
  width: 710px;
  min-height: 42px;
  float: right;
  background-color: #ff5357;
}
.header-top-search {
  display: inline-block;
  width: 260px;
}
.btn-header-top {
  display: inline-block;
}
.Order {
display: inline-block;
}
.header-bottom {
  background-color: #f3f7f8;
}
.info {
  width: 300px;
  float: left;
  margin-right: 20px;
  background-color: #2cf3d9;
  margin-top: 10px;
}
.contacts {
  width: 300px;
  float: left;
  background-color: #2cf3d9;
  margin-top: 10px;
}
.user-block {
  width: 300px;
  float: right;
  background-color: #2cf3d9;
  margin-top: 10px;
}

.header-bottom-navigation {
  width: 940px;
  float: left;
  background-color: #3d546e;
  margin-top: 20px;
  margin-bottom: 60px;
}
.header-bottom-navigation li{
  list-style: none;
  display: inline;
}
.breadcrumb {
  width: 540px;
  min-height: 59px;
  background-color: rgba(191, 216, 247, 0.4);
}
.breadcrumb ul {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  list-style: none;
  display: inline;
}
.heading-punchers {
  width: 940px;
  min-height: 59px;
  background-color: #f2f6f8;
  margin-bottom: 20px;
}
.heading-punchers h2 {
  margin: 0;
}
.filter {
  width: 220px;
  min-height: 800px;
  margin-right: 20px;
  float: left;
}
.filter-title {
  width: 220px;
  min-height: 38px;
  background-color: #f7f3ec;
  display: inline-block;
}
.by-price {
  width: 200px;
  min-height: 208px;
  display: inline-block;
}
.price-title {
  width: 220px;
  min-height: 55px;
  display: inline-block;
}
.range-control {
  width: 220px;
  min-height: 127px;
  display: inline-block;
}
.range-control [type="text"] {
  width: 95px;
  min-height: 38px;
  background-color: #f7f3ec;
}
.linear-control {
  width: 220px;
  min-height: 80px;
  display: inline-block;
  margin-bottom: 10px;
  background-color: #f7f3ec;
}
.price-control {
  width: 220px;
  min-height: 38px;
  display: inline-block;
}
.by-manufacturer ul {
  margin: 0;
  padding: 0;
}
.by-manufacturer li {
  list-style: none;
}
.on-power ul {
  margin: 0;
  padding: 0;
}
.on-power li {
  list-style: none;
}
.sorting {
  width: 700px;
  min-height: 38px;
  background-color: #f7f3ec;
  display: inline-block;
}
.catalog-items {
  width: 700px;
  min-height: 995px;
  float: right;
  background-color: rgba(88, 99, 247, 0.5);
}
.catalog-items .item:nth-child(3n) {
  margin-right: 0px;
}
.items-btn-page {
  width: 300px;
  min-height: 38px;
  float: left;
  margin-left: 240px;
  margin-top: 52px;
  margin-bottom: 60px;
  background-color: rgba(165, 145, 111, 0.5);
}
.info-drill {
  background-color: #f2f6f8;
}
.drill-title {
  margin: 0;
}
.promo-block::after {
  content: "";
  display: table;
  clear: both;
}
.promo-block {
  padding-top: 60px;
}
.promo-section {
  width: 300px;
  min-height: 123px;
}
.materials {
  float:left;
  margin-right: 20px;
  background-color: #ffbf47;
}
.instruments {
  float: left;
  margin-right: 20px;
  background-color: #3bbce3;
}
.equipment {
  float: left;
  background-color: #dc91d8;
}
.slider {
  float: left;
  position: relative;
  width: 620px;
  min-height: 265px;
  margin-right: 20px;
  margin-top: 20px;
}
.slider ul {
  margin: 0;
  padding: 0;
}
.slider li {
  list-style: none;
  display: inline-block;
}
.slider li:last-child {
  display: none;
}
.slide img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.slide .slide-title {
  position: absolute;
  z-index: 3;
  left: 25px;
  top: 25px;
}
.slide-title {
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  font-family: "Cuprum";
  margin: 0;
}
.slide .slide-slogan {
  position: absolute;
  z-index: 2;
  top: 63px;
  left: 25px;
}
.slide-slogan {
  color: white;
  margin: 0;
  font-family: "PTSans";
  font-weight: normal;
  font-size: 18px;
}
.slide .catalog-btn {
  position: absolute;
  z-index: 1;
  left: 70px;
  top: 205px;
}
.slider-transit {
  position: absolute;
  z-index: 1;
  left: 293px;
  top: 205px;
}
.sale {
  background-color: #8ed78f;
  float:left;
  margin-top: 20px;
}
.delivery {
  background-color: #ffc047;
  float: left;
  margin-top: 20px;
}
.popular-goods {
  width: 940px;
  min-height: 90px;
  background-color: #f9f5f0;
  margin-top: 60px;
}
.popular-goods h2{
  display: inline;
}
.popular-goods-btn {
  display: inline;
}
.items::after {
  content: "";
  display: table;
  clear: both;
}
.item {
  width: 220px;
  min-height: 320px;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgba(250, 204, 204, 0.5);
}
.item:last-child {
  margin-right: 0;
}
.Popular-manufacturers {
  width: 940px;
  min-height: 90px;
  background-color: #f9f5f0;
  margin-top: 20px;
}
.Popular-manufacturers h2 {
  display: inline;
}
.Popular-manufacturers-btn {
  display: inline;
}
.popular-brands {
  padding-bottom: 85px;
}
.popular-brands::after {
  content: "";
  display: table;
  clear: both;
}
.popular-brand {
  width: 220px;
  min-height: 145px;
  float:left;
  margin-right: 20px;
  background-color: rgba(250, 204, 204, 0.5);
  margin-top: 20px;
}
.popular-brand:nth-child(4n) {
  margin-right: 0;
}
.service {
  background-color: #f4f7f9;
}
.service-transit ul {
  margin: 0;
  padding: 0;
}
.service-transit li {
  list-style: none;
}
.service-transit {
  width: 300px;
  min-height: 300px;
  float: left;
  margin-right: 20px;
  background-color: rgba(148, 239, 255, 0.5);
}
.service-block-info {
  width: 300px;
  min-height: 300px;
  float: left;
  background-color: rgba(148, 239, 255, 0.5);
}
.about-company-left {
  width: 540px;
  background-color: rgba(148, 239, 255, 0.5);
  float: left;
}
.about-company-right {
  width: 310px;
  float: right;
  padding-left: 10px;
  background-color: rgba(148, 239, 255, 0.5);
}
.footer-top {
  background-color: #3d546e;
}
.footer-top-right {
  width: 380px;
  min-height: 160px;
  float: left;
}
.footer-logo {
  width: 220px;
  background-color: #ff5357;
  min-height: 68px;
  display: inline-block;
}
.foter-navigation {
  width: 550px;
  min-height: 160px;
  float: right;
}
.foter-nav ul {
  margin: 0;
  padding: 0;
}
.foter-nav li {
  list-style: none;
  display: inline;
}
.footer-nav-others ul{
  margin: 0;
  padding: 0;
}
.footer-nav-others li {
  list-style: none;
  display: inline;
}
.footer-bottom {
  background-color: #33445b;
}
.copyright {
  width: 300px;
  float: left;
  margin-right: 20px;
}
.footer-social {
  width: 240px;
  float: left;
}
.footer-comunication {
  width: 320px;
  float: right;
}
.feedback {
  display: inline-block;
}
.email {
  display: inline-block;
}
.container {
  background-color: rgba(45, 245, 73, 0.5);
  width: 940px;
  padding: 0 10px;
  margin: auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
